docker
dvc
echarts
flake8
Flask
joblib
matplotlib
mlflow
numpy
pandas
PyJWT
jwt
python-dotenv
scikit-learn
seaborn
streamlit
streamlit_echarts
openpyxl
flask_swagger_ui
flasgger
feast
evidently
